.node {
  width: 50%;
  white-space: nowrap;
  position: relative;
  text-align: left;
  min-width: 100%;
  overflow: hidden;
}

.nodeContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:45px;
}

.validDrop {
  background: #26C281;
}

.invalidDrop {
  background: #C0392B;
}

.highlight {
  height: 100%;
  cursor: pointer;
}